.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .checkbox-group {
    display: flex;
    align-items: center;
    margin-right: 120px;
    margin-bottom: 12px;

    .checkbox {
      width: 18px;
      height: 18px;
      cursor: pointer;
    }

    .checkbox-name {
      font-size: 1.6rem;
      font-weight: 500;
      color: #1e0d03;
      margin-left: 8px;
      cursor: pointer;
    }
  }
}
